@model x_nova_template.ViewModel.CheckoutViewModel
<h3>Завершение заказа</h3>
<div id="paym-deliv" class="checkout-block">
    
    @using (Html.BeginForm("ProceedPayment", "Checkout"))
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            <label class="col-md-2 control-label" for="Delivery">Оплата</label>
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.Payment, Model.PaymentList, new { @class = "form-control" })
            </div>


        </div>
        @*@Html.RadioButtonFor(x => x.Delivery, "В радиусе МКАД", new { style = "width:auto" })
            <span>
                доставка товара в радиусе МКАД - 200р.

            </span>
            <br />
            @Html.RadioButtonFor(x => x.Delivery, "За МКАД", new { style = "width:auto" })
            <span>
                доставка за МКАД - 500р.

            </span>*@

        <div class="col-md-offset-2 col-md-10" style="padding:20px;">
            <input type="submit" class="default-btn main-btn" style="width:100px" value="Подтвердить" />
        </div>
    }
</div>


