@import url(http://fonts.googleapis.com/css?family=PT+Sans);
@import url(https://fonts.googleapis.com/css?family=Open+Sans); 
body
{
    font-size: .85em;
    font-family: Pt sans,"Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
    margin:0
}
html 
{
    height: 100%;
    }
header,
footer,
nav,
section {
    display: block;
}

a
{

}
.clear-fix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}
.k-edit-buttons
{
    border-style: none!important;
}
b {
    font-family:robot-bold;
}
@font-face
{
    font-family:robot-condensed;
    src:url(/Content/fonts/roboto-condensed_1.ttf);
}
@font-face
{
    font-family:robot-bold;
    src:url(/Content/fonts/roboto-bold_2.ttf);
}
@font-face
{
    font-family:robot-regular;
    src:url(/Content/fonts/roboto-regular.ttf);
}
@font-face {
    font-family:robot-black;
    src:url(/Content/fonts/roboto-black_2.ttf);
}
@font-face {
    font-family:robot-slabthin;
    src:url(/Content/fonts/RobotoSlab-Thin.ttf);
}
@font-face {
    font-family:robot-slabbold;
    src:url(/Content/fonts/RobotoSlab-Bold.ttf);
}

#main {
    background-color: #F5F5F5;
}
h2,h3,h4 {
      color: #262626;
  font-weight: 300;
}
p.breadcrumbs a {
   
}

/* Styles for basic forms
-----------------------------------------------------------*/
.gal-item-title {
    height: 60px;
}

.gal-item {
        float: left;
    font-size:11px;
    cursor: move;
    margin: 3px;
    display: inline-block;
    vertical-align: top;
    width: 150px;
    word-break: break-all;
    border: 1px solid gray;
    padding: 2px;
    min-height: 130px;
    background: white;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #d8d8d8;
    border-bottom-width: 2px;
}
.sort-item {
    cursor:move;
}
.placeholder {
    background:whitesmoke;
    color:#444;

}
#menulist .placeholder td {
        padding: 10px;
    background: #FBFBD3;
}
.cont-box {
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #d8d8d8;
    border-bottom-width: 2px;
}
#afterUpload>div {
        vertical-align: top;
    display: flex;
    padding-bottom: 5px;
}
    #afterUpload> div img {
        padding-right:10px;
    }
    
fieldset 
{
    border:1px solid #ddd;
    padding:0 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
      -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #d8d8d8;
  border-bottom-width: 2px;
  border-top-width: 0;
  vertical-align: top;
}

legend 
{
    font-size:1.2em;
   
  
  background-color: #3343a4;;
  color: white;
  padding: 5px;
}

textarea 
{
    min-height: 75px;
}

.editor-label 
{
    margin: 1em 0 0 0;
}

.editor-field 
{
    margin:0.5em 0 0 0;
}

.k-dropzone em
{
    visibility:visible!important;
}
/* Styles for validation helpers
-----------------------------------------------------------*/

.field-validation-error
{
    color: #ff0000!important;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000!important;
    background-color: #ffeeee!important;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}
/*------------- Menu--------------------*/
#file-list{float:left}
#filesleft { }
#titlename 
{
    width:100px;float:left;position: absolute;left: 500px;top: 15px;  font: 14px robot-slabbold;
  text-transform: uppercase;color:white;
    }
#helper {  
    float: right;
  height: 40px;
  padding: 7px 15px;
}
DIV#mainheader{width: 100%;height: 50px;}

DIV#header DIV.title, DIV.item H3, DIV.item H4, DIV.pager A 
{
    font: bold 1em "Arial Narrow", "Franklin Gothic Medium", Arial;
    }
DIV#header {  
    color: White;
    margin-left: 100px;
    float: left;
    width: 200px;
    height: 50px;
    text-align: center;
    background: url(/Content/images/logo-bg.png);
    background-position-x: -10px;
}
.h-logo {
    display:block;
}
.h-logotitle {
      vertical-align: top;
  color: white;
  font-size: 24px;
  text-decoration: none;
}
DIV#header DIV.title {font-size: 16px;color:white; padding: .6em;}
.title {
  
  color: rgb(71, 71, 71);
  padding: 0;
  background: #2C324C;
  overflow: hidden;
  height: 50px;
}
DIV#content {   padding: 1em;}


DIV.item { border-top: 1px dotted gray; padding-top: .7em; margin-bottom: .7em;}
DIV.item:first-child { border-top:none; padding-top:0; }
DIV.item H3 { font-size: 1.3em; margin: 0 0 .25em 0;}
DIV.item H4 { font-size: 1.1em; margin: .4em 0 0 0;}

DIV.pager { text-align:center; 
    padding: .5em 0 0 0; margin-top: 1em; }
/*DIV.pager A { font-size: 1.1em; color: #666; text-decoration: none;
    padding: 0 .4em 0 .4em; }      
DIV.pager A:hover { background-color: Silver; }
DIV.pager A.current-page { background-color: #353535; color: White!important; }*/
span.selected a{background-color: #353535; color: #fff;}
/*
DIV.categories A 
{
    font: bold 16px ; display: block;font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    text-decoration: none; padding-left: 10px; color:white ;
    border-bottom: 1px solid silver;
    }
DIV.categories A.selected { background-color: #666; color: White;}
DIV.categories A:hover { background-color: #666;color:White;}
DIV.categories A.selected:hover { background-color: #353535;color:White;}
H2 { margin-top: 0.3em}    

DIV.categories ul #ChildBar
{
    border:0;
    font-size:14px;
    padding-left:0px;
    
    }   
DIV.categories a #ChildBar 
{
    border:0;
    }    

    */
    
/*=====================================   Main ==========================*/


.post-img-list .file-d{
    display: inline-block;
    position:relative;
}
.file-d span {
        position: absolute;
    bottom: 10px;
    left: 25px;
    color: white;
    background: black;
    padding: 3px;
    border-radius: 3px;
    cursor:pointer;
}

#page 
{
  min-height: 769px;
 /*width: 1200px;*/
  margin: 0 50px;
  overflow: hidden;
  padding-top: 30px;
      padding-bottom: 50px;
    }
.PriceTab 
{
    border:1px solid gray;
    border-collapse: collapse;
     border-spacing: 0px;
     padding: 5px 0px 5px 10px;
     width:500px;
     display:table;
    }
.PriceTab td
{
    padding: 5px;
    border: solid 1px #BEBEBE;
    text-align:center; 
    
    
    }
    .PriceTab th
{
    padding: 0;
    border: solid 1px gray;
    text-align:center; 
    background-color:#505050;
    color:White;
    
    }

    tr.alt td 
{
    background:#DEDEDE;
    }

.Crumbs a
{
    color:#707070;
   font-weight:bold;
    }  

.postContainer 
{
    padding-left: 20px;padding-right: 10px;display:block;
    }
#admincontent 
{
  margin-left: 163px;
  color: #707070;
  padding: 10px 0 0 15px;
  height: 100%;
    }
.breadcrumbs a
{
    line-height: 1.5;
    font-size: .875em;
    font-weight: 600;
    color: #262626;
    font-family: robot-bold;
    text-transform: uppercase;
}  
.breadcrumbs a:hover
{
      
}    
#admincontent a
{
    /*color:#707070;*/
    text-decoration:none;
}
#admincontent a:hover
{
       
}  
DIV#categories  
{
  color: gray;
  width: 163px;
  /*min-height: 820px;*/
  float: left;
}
#categories #panelBar{
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #d8d8d8;
  border-bottom-width: 2px;
  border-top-width: 0;
  vertical-align: top;
}
#admBody 
{
   
    width:163px;
    float:left;
    height:auto !important;
    background:#444;
    }

    

#footer 
{
    background:#E7E7E7;
       float:left;
       clear:both;
       width:100%;
       height:50px;
       color:black;
    }
TABLE#admTable 
{
    border-collapse: collapse;
     border-spacing: 0px;
     padding: 5px 0px 5px 10px;
     min-width:600px;
     display:table;
     
    }
.admTable th:last-child
{
    
}
.admTable
{
    min-width:950px;
    background-color: white;
    webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #d8d8d8;
  border-bottom-width: 2px;
  border-top-width: 0;
  vertical-align: top;
}
    .admTable tr {

    }
.admTable a.button
{
    padding: 2px!important;
}
table {
    border: solid 1px #e8eef4;
    border-collapse: collapse;
    color:#707070 ;}

table td {
    padding: 0;
    border: solid 1px #e8eef4;
    text-align:center;        
}
tr.alt td 
{
    background:#EFEFEF;
    }
tr.over td 
{
    background:#D2D2D2 ;
    }
 

.tdTitle 
{
    text-align:center;
    background:#3343a4;
    

    color:White;
    font-weight:bold;
    }

    .tdTitle th:last-child
    {
        width:180px;
    }
    .tdTitle th {
        padding:5px;
          font-family: robot-slabbold;
  font-weight: normal;
    }     
UL#menu 
{
    border: 1px solid gray;
    }
    .post-field input 
    {
        width:400px;
        
        }
        
        /*============================  Web Forms ========================================*/
     
[type="text"],
input[type="password"],
input[type="textarea"] 
{
    width:250px;
    }     
        
input[type="text"],input[type="number"],
input[type="password"],
input[type="textarea"],
input[type="file"],
textarea,
select {
	/*border: 1px solid #D2D2D0 ;
    outline:none;
	
	font-family: tahoma, helvetica, sans-serif;
	font-style: normal;
	font-size: 14px;
	color: #454743;*/
	border-radius: 1px;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  font-size: 13px;
  height: 25px;
  padding: 1px 8px;

}
input[type="number"] {
    width:100px;
}

.mylabelstyle {
	font-family: tahoma, helvetica, sans-serif;
	font-weight:bold;
	font-size: 13px;
	color: #82983e;
}

 input[type="text"]:hover,
input[type="password"]:hover,
input[type="textarea"]:hover,
input[type="file"]:hover,
textarea:hover,
select:hover
{
	border: 1px solid #B1B1AF ;
    outline:none;
	
	color: #454743;
	-moz-box-shadow:    inset 1px 0 0 0 #EDECEB;
   -webkit-box-shadow: inset 0 1px 0 0 #EDECEB;
    box-shadow: inset 0 1px 0 0 #EDECEB;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="textarea"]:focus,
input[type="file"]:focus,
textarea:focus,
select:focus {
	border: 1px solid #0062FF;
	outline:none;
	
	color: #454743;
	-moz-box-shadow:    inset 1px 0 0 0 #EDECEB;
   -webkit-box-shadow: inset 0 1px 0 0 #EDECEB;
    box-shadow: inset 0 2px 0 0 #EDECEB;
}
        


/*     CUstom styles */
textarea:focus, input:focus,a:focus,button:focus{
    outline: 0;
}
.prodimg
{

  cursor: pointer;
font-size: 100px;
-moz-opacity: .01;
opacity: .01;
position: absolute;
left: -100px;
width: 10px;
}
.prod-image
{
    cursor: pointer;
display: inline-block;
overflow: hidden;
position: relative;

}

     #preview{
	position:absolute;
	
	background:#333;
	padding:5px;
	display:none;
	color:#fff;
    z-index: 1;
    /*min-width:600px;
    min-height:400px;*/

	}
.prew-img
{
    position:relative;
    z-index:11;
}
.prew-loader
{
   position: relative;
   z-index:10;
top: 195px;
left: 290px;
}
.highlight
{
    background-color: #FDFAA5;
}
.preview-text
{
display: inline-block;
border: 1px solid #008000;
width: 55px;
height: 20px;
background: #2C832C;
color: #FFF;
}
.menu-options
{
    width:350px;float:left;
}
.menu-seo
{
    width:300px;float:right;margin-right:100px;padding-left:100px;border-left:1px solid lightgrey;
}		



/*   ============================   Admin Login ============================*/
.validation-summary-errors ul {
    list-style-type:none;
      padding: 0;
}
.adm-sub-but {
    display: block;
    height: 40px!important;
    font: bold 13px Helvetica, Arial, sans-serif;
    width:100%;
    margin:20px 0;
}
.adm-form {

}
.order-table td {
    padding:5px;
}
dl dt {
        width: 100px;
    text-align: right;
    float: left;
    font-family: robot-bold;
    font-size: 13px;
    color: #383838;
}
dl dd {
    text-align: left;
    display: block;
    margin-left: 100px;
    padding-left: 10px;
    color: #4C4C4C;
    width: 500px;
    min-height: 30px;
}
dl {
    line-height: 25px;
}
.order-details p span {
    font-family: robot-bold;
    font-size: 13px;
    color: #3A3A3A;
}
.adm-main {
    padding: 0 60px;
    width: 220px;
}
    .adm-main .validation-summary-errors {
        background-color: #F7F7F7;
        color: #CF502A;
        border: 0;
        font-family: robot-regular;
        font-weight:normal;
    } 
.adm-logo-line {
    margin-bottom: 10px;
}
    .adm-logo-line input {
        width: 96%;
        padding: 4px;
    }
    .adm-logo-line input#Password {
        -webkit-text-security:disc;
        text-security:disc;
    }       
.adm-logo-line span {
    margin-right: 21px;
    width: 50px;
    display: inline-block;
}
.adm-wrapper
{
  position: absolute;
  top: 40%;
  background-color: #F7F7F7;
  left: 50%;
  margin-top: -126px;
  margin-left: -150px;
  width: 340px;
  
  box-shadow: 0 2px 2px 1px #D3D3D3;
  border-radius: 3px;

}
    
.adm-log-wrap {
  margin: -90px 125px;
  position: absolute;
  background: url(/Content/images/mlogo.png) no-repeat;
  height: 150px;
  width: 100px;
}
.adm-logo
{
    height:50px;padding: 0 60px;border-bottom:1px solid #D6D6D6;font-size:17px;
}
    .adm-logo span {
        text-transform: uppercase;
        padding: 10px 0 0 0px;
        display: block;
        font: 18px robot-bold;
        color: #3f51b5;
    }
.adm-notify-box
{
    padding: 10px;
background: #DFDFDF;
box-shadow: inset 0 0 5px;
margin:5px;
}
.adm-notify-box1
{
     padding: 10px;
background: #E0CEA6;
box-shadow: inset 0 0 5px;
margin:5px;
}
    .adm-notify-box1 h3
    {
        padding: 0;
        margin: 0;
        font-style: italic;
    }
    .adm-notify-box1 ul
    {
        list-style-type:none;
    }
.adm-copyright
{
 color: #B6B6B6;
bottom: 20px;
position: absolute;
right: 10%;
font-size: 13px;
padding: 5px;
text-shadow: 3px 3px 1px #000;
}



/*     kendo custom */

.k-panelbar .k-header {background:#FFFFFF;}

.main-info {
    padding: 10px;
}
    .main-info h3 span {
        background-color: white;
        border-radius: 50px;
        display: inline-block;
        width: 21px;
    }
    .adm-notify h3 i {
        padding-left: 5px;
        color: #86C8FF;
        font-size: 13px;
        vertical-align: 1px;
    }
.adm-notify1 h3 i {
    padding-left: 5px;
    color: #ECA275;
    font-size: 13px;
    vertical-align: 1px;
}
.adm-notify, .adm-notify1, .adm-notify2 {
    margin:20px 0;
}

#categories .k-item .k-state-hover {
      background: rgb(239, 239, 239);
}

.k-file-progress {
      color: #A5D2FF;
}
  .k-grid-toolbar:after {
        content:initial;
    }