
a {
    color: #4e89bf;
    font-size: 13px;
    text-decoration: none;
}

    a:hover {
        color: #fc601f;
        text-decoration: none;
    }

#showLeft {
    /*float:left;
    width:inherit;*/
    margin-top:30px;
        
}
    #showLeft i {
        padding-left: 5px;
    }

.services-pages {
    height:200px!important;
        margin-top: -10px;
}
#main-wrapper
{
    margin:0 auto;
}
strong {
    font-weight:600;
}
.content-wrap td
{
border:1px solid #444;
text-align:center;
}
.content-wrap img
{
    cursor:zoom-in;
}
.pager
{
    margin-top: 20px;
}
.pager a
{
    padding: 10px;
    text-decoration: none;
    background: #D4D6D9;
    color: #2E2E2E;
    border-radius: 4px;
    margin-right: 5px;
}
    .pager a:hover
    {
        background: #233D55;
        color: #FFF;
    }
.pager .current-page
{
    background: #233D55;
    color: #FFF;
}

.article-layout
{
    margin: 0 0 0 242px!important;
}

/* =========================== footer area ======================== */

/* =========================== Cart area ======================== */
/* =========================== Gallery area ======================== */
/* =========================== Catalog area ======================== */
.prod-view__details .prod-imglist ul li{
    padding:4px;
}

.prod-view .xn-i-details {
    margin-top: 20px;
    padding:0;
    font-size:12px;
    max-width:500px;
}
.prod-view .xn-i-details tr {
    height:20px;
}
.prod-view     .xn-i-details table {
     
    }
.prod-view .xn-i-details table th {
    font-family:Roboto,Arial;
  width:120px;
     font-weight: 600;
    font-size: 12px;

}
.prod-view .xn-i-details table td {
       word-break: break-word;
    padding-left: 10px;
padding-top: 7px;
}
.prod-view .xn-i-details table th,.prod-view .xn-i-details table td {
    padding-bottom:15px;
}
.primers img {
    padding: 0 20px 20px 0;
    margin: 0;
    display:inline-block
}
.prod-imglist ul
{
    list-style-type:none!important;
    width: 20000em;
    position: relative;
    list-style: none;
    left: 0px;
    top: 0px;
    margin: 0px!important;
    padding: 0px!important;
}
    .prod-imglist ul li
    {
        float: left;
      
           margin: 0 5px;
    padding: 4px 4px 0 4px;
    border: 1px solid #E4E4E4;
    }
.imglist-item
{
    cursor:pointer;
    padding-right:0;
}
#listview .prod-image
{
      
    text-align: center;
    position:relative;
   
}
#listview .prod-image img {
    width: 150px;
}
.prod-details
{
    cursor:zoom-in;
    display:none;
    position: absolute;
    top: 50%;
    left: 45px;
    color: #111;
    background: #FFF;
    opacity: 0.8;
    font-weight: bold;
    padding: 2px;
    border-radius: 2px;
}
.prod-imglist
{
      width: 140px;
    height: 94px;
    position: relative;
    overflow: hidden;
    top: 10px;
        left: 10px;
}
.imglist-wrap
{
   
    position: relative;
    height: 90px;
    overflow: hidden;
    width: 170px;
        margin: 0 auto;
}
    .imglist-wrap i
    {
        position: absolute;
        top: 30px;
        left: 0;
        width: 15px;
        height: 15px;
        font-size: 15px;
        z-index: 3;
        cursor:pointer;
    }
.imglist-wrap i.prev
{
    left:0px;
}
.imglist-wrap i.next
{
   left: 145px;
}
.imglist-wrap i.inactive {
  display: none;
}
.separ
{
    height: 50px;
}
.listview-item a {
    font-size: 12px;
}
.listview-item
{
       min-height: 250px;
    border:1px solid #233D55;
    padding:10px;
     
    background: url(/content/qm/prod-linear.png);
   
    background-repeat: no-repeat;
    background-position: bottom right;
}
    .listview-item:hover
    {
           box-shadow: 0px 0px 0px 3px #d6d6d6;
    border: 1px solid gray;
    }
        .listview-item:hover .prod-more-btn
        {
           display:block;
        }
.prod-desc
{   
    font-size: 12px;
    padding: 10px 0;
    word-break: break-word;
    height: 170px;
    display: inline-block;
    overflow: hidden;
}
.prod-img-wrapper
{
    float:right;   
    
}
.listview-item table th,.listview-item table td {
    padding-bottom: 7px;

}
.listview-item table th {
    font-weight:300;
    width:120px;
}
.listview-item table td {
    vertical-align:top;
    padding-left:5px;
    font-weight:700;
}

.prod-more-btn
{
    z-index: 1;
    width: 100%;
    height: 40px;
    bottom: 0;
    position: absolute;
    left: 0;
    background: whitesmoke;
    display: none;
}

.more-btn
{
    color: #7a7a7a;
    padding: 10px;
    display:block;
    text-align: center;
    font-size: 13px!important;
        font-family: Roboto slab;
            text-transform: uppercase;
}
    .more-btn:hover
    {
       color: #7a7a7a;
    }

.listview-wrap
{
    float: left;
        padding: 0 0 0 15px;
}

/*   prod details  */

.prod-view
{
    padding:20px 0;

}
   
.imglist-view
{
       width: 450px;
       margin:0;
}
.view-img .prod-image img
{
    /*max-width: 450px;*/
       /*margin: 0 auto;*/
}
.view-imglist
{
            /*margin: 0 auto;*/
                width: 350px;
   
}
    .view-imglist img {
        cursor:pointer;
        width: 50px;
        height: 50px;
    }
    .imglist-view i.next
    {
        right: 0;
        left: inherit;
    }
        .imglist-view i.prev
    {
        left: 0;
    }
/* =========================== Product page area ======================== */
.prod-view__target-img {
    max-width:450px;
}
/* =========================== static sections area ======================== */
#section_1 p {
    margin:0!important;
}
#section_1 p> span:nth-child(2n) {
    font-size:32px!important;
}
#section_2
{
    float: left;
    width: 600px;
    font: 16px Roboto,arial;
    font-weight:bold;
    line-height: 20px;
}
    #section_2 h1
    {
        font-size: 16px!important;
    }
#section_4
{
     position: absolute;
    bottom: 0;
   background: rgba(213, 213, 213, 0.5);
    width: 100%;
    color: #1B1B1B;
    text-align: center;
    margin: 0 auto;
    line-height: 40px;
    min-height: 48px;
font-weight:bold;
}




/*======================================================================================--*/
/*================================= Default css styles ================================== */
/*========================================================================================--*/

.clear-fix:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}

/*=================================== Kendo custom css ============================ */
.priceSlider .k-slider-selection
{
    background:#8B0000;
}
.priceSlider .k-draghandle
{
    background:#7F7F7F;
}
.priceSlider .k-draghandle.k-state-selected
{
    background:gray!important;
}


/* Kendo Window */


/*  IE style */

.ie .tmenu a
{
    display:inline-block;
}

.ie .tmenu a:after
{
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -2px;
    border-width: 0 0 1px;
    border-style: solid;
}
.sp-body
{
display:none;
}
.sp-active
{display:block;}


/*  separator */

@media (min-width: 768px) {
    .navbar-brand {
        padding:0;
    }
    .btns a:first-child {
       
    }
    .btns {
        /*float: right;
    margin-top: -80px;*/
    }
     .listview-item {
        
        
    }
}
@media (min-width: 1024px) {
    .navbar-brand {
        padding:0;
    }
    .btns a:first-child {
        
    }
    .btns {
        float: inherit;
        margin-top: 0;
    }
}


@media (min-width: 992px) and (orientation:landscape) {
    .listview-item {
         margin: 10px;
        width: 45%;
    }
}

@media (min-width: 992px) and (orientation:portrait) {
    .listview-item {
       
        margin: 10px;
        width: 45%;
    }
}