
a {
    color: #4e89bf;
    font-size: 13px;
    text-decoration: none;
}

    a:hover {
        color: #fc601f;
        text-decoration: none;
    }

#showLeft {
    /*float:left;
    width:inherit;*/
    margin-top:30px;
        
}
    #showLeft i {
        padding-left: 5px;
    }

.services-pages {
    height:200px!important;
        margin-top: -10px;
}
#main-wrapper
{
    margin:0 auto;
}
strong {
    font-family:robot-bold;
}
.content-wrap td
{
border:1px solid #444;
text-align:center;
}
.content-wrap img
{
    cursor:zoom-in;
}
.pager
{
    margin-top: 20px;
}
.pager a
{
    padding: 10px;
    text-decoration: none;
    background: #D4D6D9;
    color: #2E2E2E;
    border-radius: 4px;
    margin-right: 5px;
}
    .pager a:hover
    {
        background: #233D55;
        color: #FFF;
    }
.pager .current-page
{
    background: #233D55;
    color: #FFF;
}

.article-layout
{
    margin: 0 0 0 242px!important;
}
/* =========================== header area ======================== */

.top-h
{
  
    background:#233d55;
    box-shadow:0 5px 5px #152433;
}
.bottom-h
{
    height: 236px;
    background-image: url(/content/qm/light1.png);
    background-position: left;
    background-position-x: -250px;
    background-repeat: no-repeat;   
   
}
.bottom-m-wrap
{
    /*margin:0 50px;*/
    
}
.m-header
{
    background-image:url(/content/qm/opacity-bg.png);
    background-position:center bottom;
    background-repeat: no-repeat;
    margin-bottom:0;
    border:0;
        background-size: cover;
            background-position-y: -5px;
}
#services
{
    height: 370px;
    position:relative;
    z-index: 10;
    }
#phone
{
    padding: 10px 0;
    /*float: left;
    
    width: 200px;*/

}
.btns
{
    padding:20px 0;
    position:relative;
}
    .btns a:first-child {
       
    }
.h-btn
{

}

.white-wrapper
{
    height:300px;
    background:white;
  
}
    .white-wrapper .container {
        padding:0;
    }
.top-h-wrap,.bottom-h-wrap,.serv-wrap
{
    margin:0 auto;
    width:100%;
}
.serv-m-wrap
{
   /*margin:0 100px;*/
}
.s-title
{
padding-top: 10px;
height: 110px;
}
    .s-title p
    {
        width:400px;
        font-size:14px;
        color:#444;
    }
#logo
{
    /*width: 170px;
    height: 170px;
    float: left;*/
    padding-top: 30px;
   
}

.logo-text
{
    font-family:roboto slab;
    color:#F7F7F7;
    font-size:21.5px;
}
.logo-text-b
{
    font-family:roboto thin;
}
.logo-desc
{
    
    font-size:12px;
    color:#f7f7f7;
}

/* =========================== static sections area ======================== */
#section_1 p {
    margin:0!important;
}
#section_1 p> span:nth-child(2n) {
    font-size:32px!important;
}
#section_2
{
    float: left;
    width: 600px;
    font: 16px Roboto,arial;
    font-weight:bold;
    line-height: 20px;
}
    #section_2 h1
    {
        font-size: 16px!important;
    }
#section_4
{
     position: absolute;
    bottom: 0;
   background: rgba(213, 213, 213, 0.5);
    width: 100%;
    color: #1B1B1B;
    text-align: center;
    margin: 0 auto;
    line-height: 40px;
    min-height: 48px;
font-weight:bold;
}
/* =========================== content area ======================== */
#content
{
    margin: 0 auto; 
    background:white;
}
.catalog
{
    width: 240px;
    height: auto;
    box-shadow: 0 0 20px #B6B6B6;
    -webkit-box-shadow:  0 0 15px #445769;
    -moz-box-shadow:    0 0 15px #445769;
   
    background: #C5D1E2;
}
#content-wrapper
{
   
}
.navbar-nav {
    margin:0;
}
.catalog h2
{
    height: 100px;
    padding: 10px 0 0 10px;
    font-size: 14px;
    margin: 0;
    text-transform: uppercase;
    text-align: center;
    line-height: 18px;
    text-shadow: 1px 1px 0 #FFF;
    background: url(/content/qm/projects-bg.png);
    background-repeat: no-repeat;
    background-position: top;
}
.cat-list
{
    
}
    .cat-list ul li
    {
        padding:10px 0;
    }
        .cat-list ul li span
        {
            margin-left: 20px;
            display: block;
        }
    .cat-list a
    {
        color: rgb(78, 137, 191);
        text-decoration: none;
        line-height:20px;            
    }
        .cat-list a:hover
        {
            text-decoration:none;
        }
    .cat-list i
    {
        color: #4E89BF;
        float: left;
        vertical-align: 20px;
        padding-top: 5px;
        font-size:14px;
    }
#bot-quote
{
background: #233D55;
padding: 30px;
text-align: center;
color: #FFF;
font-size: 18px;
}
#article
{
    min-height: 600px;
    padding: 20px;
  
    font-size:13px;
    color: #404040;
    line-height: 17px; 
}

    #article h2
    {
        font-size: 21px; margin: .75em 0;
        line-height: 30px; 
    }
    #article h3
    {
        font-size: 15px;
        padding: .83em 0;
        margin: 0;
        background-image: url(/content/qm/header-line.png);
        background-repeat: no-repeat;
        background-position: bottom left;
        line-height: 24px; 
    }
        #article ul,ol
        {
            list-style: initial;
            margin: initial;
            padding: 0 0 0 40px;
            margin:20px 0;
        }
        #article ul
        {
            list-style:circle;
        }
        #article ul li
        {
            display: list-item;
            line-height:20px;
        }
#rightbar
{
   
    min-height:400px;
    
}
aside
{
  
}
.aside1
{
   
    box-shadow:0 0 15px #445769;
    -webkit-box-shadow:0 0 15px #445769;
   
    border-radius: 7px 7px 0 0;
    -moz-box-shadow: 0 0 20px #B6B6B6;
    margin-bottom: 40px;
    background: #C5D1E2;
}
    .aside1 h3
    {
        padding: 15px 20px;
        color: #FFFFFF;
        margin: 0;
        font: 300 13px robot-regular,arial;
        white-space: normal;
        position: relative;
        height: 50px;
        vertical-align: middle;
        background: #233D55;
        border-radius: 5px 5px 0 0;
        background-repeat: no-repeat;
        background-position: top;
    }
.aside-content
{
    padding:10px;
}
    .aside-content a
    {
        color:#29435B;
    }
    .aside-content tr td:first-child
    {
        vertical-align:top;
        color: #799AB9;
        font-size: 12px;
    }
.post-date td
{
    padding-bottom:10px;
}
.post-desc td:first-child
{
       width: 80%;
    height:101px;
    padding-right:5px;
}
.post-desc
{
    padding-bottom:10px;
}
.post-divider
{
    height:10px;
}
#post-list
{
   

}
#post-img
{

}
#post-content
{
    display: inline-block;
    vertical-align: top;
    width: 550px;
}
    #post-content img.post-img
    {
        text-align: left;
        float: left;
      
        margin: 20px;
    }
.selected-cat
{
    border: 1px solid #6D90BD;
    padding: 10px!important;
    font-weight:bold;
}
    .selected-cat a
    {
        color: #004CA3!important;
            font-family: roboto bold;
   
    }
    .selected-cat i
    {
        color: #004CA3!important;
    
    }
    /* =========================== catalog area ======================== */
.prod-imglist ul
{
    list-style-type:none!important;
    width: 20000em;
    position: relative;
    list-style: none;
    left: 0px;
    top: 0px;
    margin: 0px!important;
    padding: 0px!important;
}
    .prod-imglist ul li
    {
        float: left;
      
        padding: 0 10px;
    }
.imglist-item
{
    cursor:pointer;
    padding-right:0;
}
#listview .prod-image
{
    text-align: center;
    position:relative;
   
}
.prod-details
{
    cursor:zoom-in;
    display:none;
    position: absolute;
    top: 50%;
    left: 45px;
    color: #111;
    background: #FFF;
    opacity: 0.8;
    font-weight: bold;
    padding: 2px;
    border-radius: 2px;
}
.prod-imglist
{
      width: 140px;
    height: 94px;
    position: relative;
    overflow: hidden;
    top: 10px;
        left: 10px;
}
.imglist-wrap
{
   
    position: relative;
    height: 90px;
    overflow: hidden;
    width: 170px;
        margin: 0 auto;
}
    .imglist-wrap i
    {
        position: absolute;
        top: 30px;
        left: 0;
        width: 15px;
        height: 15px;
        font-size: 15px;
        z-index: 3;
        cursor:pointer;
    }
.imglist-wrap i.prev
{
    left:0px;
}
.imglist-wrap i.next
{
   left: 145px;
}
.imglist-wrap i.inactive {
  display: none;
}
.separ
{
    height: 50px;
}
.listview-item
{
       min-height: 290px;
    border:1px solid #233D55;
    padding:10px;
     
    background: url(/content/qm/prod-linear.png);
    margin: 10px;
    background-repeat: no-repeat;
    background-position: bottom right;
}
    .listview-item:hover
    {
        box-shadow: 0 0 10px #BEBEBE;
    }
        .listview-item:hover .more-btn
        {
           display:block;
        }
.prod-desc
{   
    font-size: 12px;
    padding: 10px 0;
    word-break:break-word;
    height: 120px;  
   
    display: inline-block;
}
.prod-img-wrapper
{
    float:right;   
}

.prod-more-btn
{
    float: left;
clear: both;
width: 138px;
height: 31px;
}
.more-btn
{
    color: #203344;
    padding: 5px;
    border: 2px solid #203344;    
    display:none;
}
    .more-btn:hover
    {
        color: #FDFDFD;
        background: #203344;
    }

.listview-wrap
{
    float: left;
        padding: 0 0 0 20px;
}

/*   prod details  */

.prod-view
{
    padding:20px 0;

}
   
.imglist-view
{
       width: 100%;
}
.view-img .prod-image img
{
       /*margin: 0 auto;*/
}
.view-imglist
{
            /*margin: 0 auto;*/
    width: 80%;
}
    .view-imglist img {
        cursor:pointer;
    }
    .imglist-view i.next
    {
        right: 0;
        left: inherit;
    }
        .imglist-view i.prev
    {
        left: 0;
    }
.dbg-toy .prod-image
{
    height:inherit;
}
#phone .tooltip-inner,#phone .tooltip-arrow {
    background:whitesmoke;
    
}
#phone .tooltip-inner {
    max-width:300px;
    
    opacity:1;
}
#phone .tooltip-arrow {
border-left-color: whitesmoke;
background:transparent;
}

  /*4e89bf  fc601f*/
/* =========================== footer area ======================== */
footer
{
    -webkit-box-shadow: inset 0 20px 50px -20px #030E18;
    -moz-box-shadow:    inset 0 20px 50px -20px #030E18;
    box-shadow: inset 0 20px 50px -20px #030E18;
    background: #152433;
   
}
    footer .f-wrap
    {
        margin: 0 auto;
       
    }
.f1, .f2, .f3
{
   text-align: center;
}
.f1 {
  
    color: #4E89BF;
    font-size: 12px;
}
.f2
{
    
   
}
    .f2 .f-desc
    {
        color: #4576A3;
        font-size: 11px;
        margin-top: 30px;
    }
.f3
{
      
       color:#4e89bf;
}
/* =========================== navigation ======================== */

/* tmenu */

.no-pseudo:after
    {   content: '';
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        border-width: 0!important;
        border-style: solid;
}
.top-h nav
{
    /*margin-left: 250px;*/
}
.navbar-header .navbar-toggle i {
        font-size: 28px;
    color: white;
}
.navbar-static-top {
    z-index: 999;
    border-width: 0 0 1px;
}
.tmenu {
        float: none;
    margin: 0 auto;
    display: table;
    table-layout: fixed;
}
    .tmenu li.active a {
            text-decoration: none;
    background-color: #eee;

    }
.navbar-brand {
    float: left;
    
    font-size: 18px;
    line-height: 20px;
    height:auto;
}
.navbar-toggle {
    margin-top: 18px;
}
    .navbar-toggle .icon-bar {
    
    background-color:white;}
#top-navbar-collapse[aria-expanded=true] .tmenu,.collapsing .tmenu
{
    display: block;
    table-layout: inherit;
}
    .tmenu a
    {
        color: #4E89BF;
        font-size: 13px;
        position: relative;
       text-shadow: 0 0 0 #64A6E2;
        vertical-align: -20px;
        text-decoration: none;

    }
    .tmenu a:hover
    {
        color:rgb(0, 76, 163);
        text-decoration:none;
    }
    .tmenu a:after
    {
        /*content: '';
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 1px;
        border-width: 0 0 1px;
        border-style: solid;*/
    }
    .tmenu i
    {
        color:#4E89BF;
        font-size: 5px;
        vertical-align: -20px;
        margin: 0 20px;
    }

    .tmenu li:last-child i
    {
        display:none;
    }
footer .tmenu i
{
    margin: 0 10px;
}


/* bmenu */
.serv
{
    display:none;
    position: absolute;
    top: 100px;
    left: 250px;
    color: #152433;
    padding: 5px;
    background: #F7F7F7;
    border-radius: 2px;
    box-shadow: 0 1px 5px #000;
    cursor:pointer;
}
    .serv i.icon-reorder
    {
        font-size:21px;
        vertical-align: -2px;
    }
    .serv i.icon-chevron-down
    {
        font-size:13px;
    }
.serv-button
{
    font-weight: bold;
}
nav.n-bmenu
{
    padding-top: 20px;
    /*float: left;
    
    width: 700px;*/
}

#bmenu
{
   z-index: 5;
position: relative;
}
    #bmenu li
    {
        float:left;
        margin: 5px;
    }

    #bmenu a
    {
        font-size: 11px;
        padding: 5px;
        background: #203344;
        text-decoration: none;
        color: #D4D6D9;
        display: inline-block;
        width: 200px;
        height: 53px;
        line-height: 15px;
    }
        #bmenu a:hover
        {
            background: #203344;
            color: #D4D6D9;
            box-shadow: 0px 0px 15px #6686CA;
            -moz-box-shadow: 0px 0px 15px #6686CA;
            -webkit-box-shadow: 0px 0px 15px #6686CA;
        }
        #bmenu a.current
        {
            background: #F7F7F7;
            color: #233D55;
        }

.forg-menu
{
    list-style-type:none;
}
.forg-tnl {
width: 100%;
height: 50px;
position: absolute;
overflow: hidden;
top: -50px;
right: 15px;
}

.forg-tnl:after {
content: "";
position: absolute;
width: 10px;
height: 10px;
border: 1px solid #2E3367;
background: #FFF;
transform: rotate(45deg);
-webkit-transform: rotate(45deg);
top: 45px;
right: 50px;
box-shadow: -1px -1px 10px -2px rgba(0, 0, 0, 0.5);
}
.right-h-section
{
    position:relative;
}
.design-pics
{
width:auto;float:right;
}
.foreign-cont
{
    background: #FFF;
   width:300px;
    line-height: 17px;
    font-size: 13px;
    z-index:13;
    margin: 50px 0;
   border: 2px solid #2E3367;
    position: absolute;
    display: inline-block;
     -moz-transition: all 0.5s ease; 
    -webkit-transition: all 0.5s ease;  
    -ms-transition: all 1s ease;  
    -o-transition: all 1s ease;  
    transition: all 0.5s ease;  
   opacity:0;
    margin-top:50px;
    left: -10px;
}
.forg-menu a
{
color: #444;
padding: 5px 10px;
display: block;
}
.forg-menu a:hover
{
color: #FFF;
background: #2F4061;
}
.forg-menu li:first-child
{
    padding-top:10px;
}
.forg-menu li:last-child
{
    padding-bottom:10px;
}
.forg-btn:hover .foreign-cont
{
   
    
}
.ss
{transition:margin-top 0.5s ease;}



/*===================== Form Styles ============================== */



.order-wrap
{
    margin: auto 100px;
    position:relative;
}
.request-ok-text
{
font-size: 17px;
color: #DDD;
font-family: verdana,arial;
margin-left: 50px;
float: left;
margin-top: -30px;
}
.request-ok
{
    padding: 20px;
    width: 400px;
    background: #357241;
    border-radius: 2px;
}
.request-ok-icon
{
    color: #D6D6D6;
    font-size: 28px;
    float: left;
}
.valid-mess .field-validation-error
{
    position: absolute;
    width: 250px;
    background: #6B2637;
    opacity: 0.8;
    color: #FFF;
    padding: 5px;
    right: -200px;
    margin-top: -10px;
}
.valid-mess .field-validation-error[data-valmsg-for="Phone"]
{
    left:50px;
}
.sub-button
{
   border: 0;
font-size: 14px;
letter-spacing: 1px;
background: #742229;
font-family: Tahoma,Arial;
color: #E2E1E1;
border-radius: 2px;
left: 270px;
position: relative;
cursor: pointer;
height: 50px;
width: 150px;
}
.sub-button:hover
{
    background:#99253C;
}
.sub-button:focus
{
    padding:0;
}
.sub-button:disabled{
    background:#99253C;
}




/*======================================================================================--*/
/*================================= Default css styles ================================== */
/*========================================================================================--*/

.clear-fix:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}

/*=================================== Kendo custom css ============================ */
.priceSlider .k-slider-selection
{
    background:#8B0000;
}
.priceSlider .k-draghandle
{
    background:#7F7F7F;
}
.priceSlider .k-draghandle.k-state-selected
{
    background:gray!important;
}


/* Kendo Window */


/*  IE style */

.ie .tmenu a
{
    display:inline-block;
}

.ie .tmenu a:after
{
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -2px;
    border-width: 0 0 1px;
    border-style: solid;
}
.sp-body
{
display:none;
}
.sp-active
{display:block;}


/*  separator */

@media (min-width: 768px) {
    .navbar-brand {
        padding:0;
    }
    .btns a:first-child {
       
    }
    .btns {
        /*float: right;
    margin-top: -80px;*/
    }
     .listview-item {
        
        
    }
}
@media (min-width: 1024px) {
    .navbar-brand {
        padding:0;
    }
    .btns a:first-child {
        
    }
    .btns {
        float: inherit;
        margin-top: 0;
    }
}


@media (min-width: 992px) and (orientation:landscape) {
    .listview-item {
         margin: 10px;
        width: 45%;
    }
}

@media (min-width: 992px) and (orientation:portrait) {
    .listview-item {
       
        margin: 10px;
        width: 45%;
    }
}