#listview {
    min-height:300px;
}
.xn-listview-wrapper{
   
    position:relative;
}
.xn-listview-cont{    
 
    position: relative;
}
.aligned-content{
    margin-left: auto;
    margin-right: auto;
}
.item-img{
    opacity: 1;
    position: relative;
        z-index: 2;
    position: relative;
        background: white;
}
    .item-img img {
        
    max-width: 100%;
    margin-right: auto;
 
    margin-left: auto;
    border: none;
    outline: none;
    }

.xn-lockup {
    display:block;
    color: #767676;
    line-height: 1.3em;
    position: relative;
        font-size: 11px;
}
.xn-listview-feed
{
    display: flex;
    position: relative;
    list-style: none;
    flex-direction: row;
    flex-wrap: wrap;
  
}
.xn-listview-item>div{

}
.xn-listview-item{
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 205px;
    display: inline-block;
   position:relative;
    box-shadow: 1px 2px 2px rgba(0,0,0,.1);
}
    .xn-listview-item:hover {
    z-index: 3;
       border: inherit;
    box-shadow: inherit;
    }
        .xn-listview-item:hover caption {

        }
#listview-target .carousel-main__loader {
    margin: 0 auto;
    display: block;
}
.caption {
    padding-top: 8px;
    padding-right: 10px;
    padding-left: 10px;
        -ms-flex-direction: column;
    -webkit-flex-direction: column;
        flex-direction: column;
    display:flex;
        height: 80px;
         background: hsla(0,0%,98%,.9);
         z-index: 2;
    position: relative;
}
.caption-wrap {

}
.caption-discount {
        position: absolute;
    right: 50%;
    bottom: 5px;
    background: #63638e;
    color: white;
    padding: 5px;
    border-radius: 2px;
}
.caption-btns {
     
   
}
.caption-more-details {
background: rgba(0, 0, 0, 0.07);
    position: absolute;
    bottom: 85px;
    z-index: 1;
    color: #848484;
    width: 100%;
    text-align: center;
    display:none;
}
.caption-h4 a {
    display: block;
    position: relative;
    font-size: 1em;
    font-weight: 600;
    
    color: #262626;
        height: 34px;
    line-height: 17px;
    white-space: normal;
}
.caption-h4 {
     
    vertical-align: middle;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
    text-overflow: ellipsis;
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: -o-ellipsis-lastline;
       
}
.xn-listview-item:hover .xn-lv__hoverblock {
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
}
.xn-lv__hoverblock-wrap:after {
    content: '';
    display: block;
    width: 100%;
    height: 10px;
    position: absolute;
    top: -10px;
    left: 0;
    background: #ecebeb;
}
.xn-listview-item:hover .xn-lv__hoverblock, .xn-listview-item:hover .xn-lv__hoverblock-wrap {
    background: hsla(0,0%,98%,.9);
    border: 1px solid #bbbbbb;
    box-shadow: 0 1px 4px rgba(0,0,0,.2);
}
.xn-lv__hoverblock-wrap {
    text-align: center;
    font-size: 14px;
    padding: 0 5px 10px 5px;
    font-family: open sans;
    display: none;
    color: #8a8a8a;
    background: #ECECEA!important;
    position: absolute;
    cursor:pointer;
}
    .xn-lv__hoverblock-wrap i {
            padding: 0 10px 0 0;
    }
        .xn-lv__hoverblock-wrap i:before {
            font-size:16px;
        }
.xn-listview-item:hover .xn-lv__hoverblock-wrap{
    display: block;
    z-index: 3;
    left: -1px;
    right: -1px;
    top: 100%;
}
.caption-desc {
}
.caption-text {
}
.caption-title {
    padding: 5px 0;
    font-size: 14px;
}
.caption-info {
       height: 40px;
}
.caption-btns {
    display: inline-block;
        float: right;
}
.caption-item-price {
        padding-top: 5px;
        font-size: 15px;
}
.xn-details {
    color: #585858;
    padding: 3px;
    font-weight: 300;
    cursor: pointer;
}
.xn-listview-item button {
    padding:4px 10px;
}
.caption-price {
font-size: 17px;
    display: inline-block;
    color: #000000;
}
.xn-listview-link {
        display: block;
    height: 100%;
    overflow: hidden;
    color: inherit;

}
.xn-listview-item__row {
    z-index: 0;
    padding: 0;
    
    height: auto; 
    position: relative;
    font-size: 13px;
    color: #595959;
    
   
  
}
/*ul#anim-listview:hover li:not(:hover) {
	opacity: .3;
	filter: alpha(opacity=30);
	
	-webkit-transform: scale(.9);
	-moz-transform: scale(.9);
	-ms-transform: scale(.9);
	-o-transform: scale(.9);
	transform: scale(.9);
}*/

