@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,700&subset=latin,greek,greek-ext,latin-ext,cyrillic');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600&subset=latin,greek,greek-ext,latin-ext,cyrillic');
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, ul, ol, dd,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}
/*  Disable blue background on image */
/*IE9*/
img::selection 
{
    background-color:transparent;
} 
img::-moz-selection
{
    background-color:transparent;
}
img
{        
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    /*IE10*/
    -ms-user-select: none;
    user-select: none;
    border:0;
    max-width:100%;
    /*You just need this if you are only concerned with android and not desktop browsers.*/
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}    
input[type="text"], textarea, [contenteditable]
{

    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}


/* remember to define focus styles! */
:focus {
    outline: 0;
}
.carousel-wrapper {
    /*width: 400px!important;*/
}

.f-copyright {
        color: gray;
    float: left;
    line-height: 20px;
    padding: 15px 0;
}
html {
    position: relative;
}
body {
   
    font-family:Roboto!important;
    width: 100%;
    min-height: 100%;
    background: white;
   font-size:14px;
}

ol, ul {
    list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: separate;
    border-spacing: 0;
}

caption, th, td {
    text-align: left;
    font-weight: normal;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: "";
}

blockquote, q {
    quotes: "" "";
}

h1 {
    color: black;
    text-transform: uppercase;
    font-size: 24px;
    border-left: 3px solid #ffb40d;
    padding-left: 15px;
    margin: 20px 0;
}

h2 {
    font-size: 18px;
    margin: .75em 0;
    color:#8e8e8e;
}

h3 {
    font-size: 16px;
    margin: .83em 0;
    color:#8e8e8e;
}

h5 {
    font-size: .83em;
    margin: 1.5em 0;
}

h6 {
    font-size: .75em;
    margin: 1.67em 0;
}

h1, h2, h3, h4,
h5, h6 {
   
    text-transform: uppercase;
}

p {
    margin: 5px 0 10px 0;
}

a {
      
  outline: 0;
    color: #938f87;
    font-size: 14px;
    
}

    a:hover {
        color: #ffb40d;
        text-decoration: none;

    }




/* =========================== MAIN ======================== */
.shrink{
padding-top: 157px;
}
/*header*/
.cont{
   
    margin-left: auto;
    margin-right: auto;
}

#logo img {
    width: 130px;
}
#logo {
    float: left;
    padding: 15px 0 0 50px;
}
.resp-logo {
        width: 100px;
    float: left;
    margin-left: 50px;
    display: inline-block;
    padding-top: 4px;
    display:none;
}
#top-section {
background: #f3f3f3;
    z-index: 900;
}
.top-section__main {
  
}
.shrink .top-section__main{
    display:none;

}

.shrink .resp-logo {
      display:block;

}
.shrink .header-nav__wrap {
          position: fixed;
    width: 100%;
top:0;

}
.header-nav__main {
    float: inherit;
    padding-left: 200px;
}
.header-nav {
        display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0 30px;
}
.header-info {
    display: flex;
    flex: 1;
    min-width: 0;
    padding: 30px;
    font-size: 14px;
    color: #909090;
}
.header-nav__wrap{
    border-top: 1px solid #e6e6e6;
    background: #3f434c;
    font-family: roboto;
    font-weight: bold;
    font-size: 13px;
    color: #636363;
    box-shadow: 0px 3px 2px rgba(150, 150, 150, 0.3);
    -webkit-tap-highlight-color: transparent;
    z-index: 900;
}
/*info*/

.header-call__link {
    cursor: pointer;
    text-decoration: none;
    border-bottom: 1px dashed #ffb40d;
    color:#ffb40d;
}
    .header-call__link:hover {
        color: #ccc;
    }
.header-call {
padding: 0 10px;
}
.header-email__text {

}
.header-email__title {

}
.header-email {
padding: 0 10px;
}
.header-deliver__text {

}
.header-deliver__title {
   
}
.header-deliver {
    padding: 0 10px;
}
/*section content*/
.section_default {
    padding: 20px;
}
.advantages {
    display: flex;
}
    .advantages .adv-icon {
        text-align:center;
    }
    .advantages .adv-icon i {

     
    }
.advantages .adv-icon i:before{
    font-size: 52px;
    color: #ffb40d;
    margin:0;
   
}

.adv-body {
        text-align: center;
    font-size: 14px;
    color: #5f5f5f;
    line-height: 15px;
    padding-top: 5px;
}
.adv-title {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    color: black;
}

#article {
        padding: 20px;
         
}
#content{
min-height:425px;
}
.main-overlay {
        background: white;
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: fixed;
    opacity: 0.5;
       z-index: 850;
    transition: 5s opacity;
    display:none;
}


/* prod-item*/
.prod-image img {
max-height: 100%;
    max-width: 650px;
    width: auto;
    height: auto;
    vertical-align: middle;
}
#imwrap {
        height: 100%;
    position: relative;
    text-align: center;
    width: 100%;
}
.prod-image {
        height: 300px;
    min-height: 300px;
    max-height: 400px;
    margin: 30px;
    position: relative;
}
.view-img {
    float:left;
}
.item-features-wrap {
    float: right;
    width: 350px;
    padding: 20px;
    background: #ececec;
    color: #212121;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
}
.item-tabstrip-wrap {
    width: 100%;
    display: inline-block;
}
.item-features__price-value {
    font-size: 21px;
    color: black;
    padding: 10px 0 20px 0;
}
.item-features__title {
        font-size: 16px;
    padding-bottom: 20px;
    font-weight: 300;
}

.item-features__table th {
        color: #6d6d6d;
    font-weight: 300;
    font-size: 12px;
    padding-right: 30px;
    line-height: 2;
}
.item-features__table td {

}
.item-tabstrip__text-wrap {
        display: inline-block;
    background: #ececec;
    padding: 20px;
    font-weight: 300;
    font-size: 13px;
    min-height: 100px;
    width: 100%;
}
.item-tabstrip__tabs-wrap li{
    display: inline-block;
    float: left;
    padding: 10px;
    cursor:pointer;
    margin-right:3px;
}
    .item-tabstrip__tabs-wrap li:hover {
        background: #f5f5f5;
    }
.item-tabstrip__tabs-wrap li.active {
    background:#ececec;
}
.item-tabstrip-wrap {

        width: 100%;
    display: inline-block;
    bottom: 0;
    padding: 20px 0;
}

.item-tabstrip__text-wrap .tab{
    display:none;
}

/*footer*/
footer {
    background: #444;
    margin-top: 50px;
}
.foot-nav {
    float: left;
    margin: 20px 0;
}
   
.f1 .copyright{
    float:left;
}
.f1 .webstudio {
    float:right;
}
.f1 .f1-phone {
        display: block;
    text-align: right;
    font-size: 24px;
}
.f-wrap {
        color: #c7c7c7;
    padding-bottom: 30px;
}
    .f-wrap a {
         color: #c7c7c7;
    }
/* =========================== basket area ======================== */

#cart__summary {
    display: inline-block;
}

.top-cart-remove {
    text-decoration: underline;
    color: gray;
    font-size: 11px;
    display: none;
    cursor: pointer;
}

.top-cart-total-title {
    width: 80%;
    display: inline-block;
}

.cart-holder {
    position:relative;
}

.pbasket {
    width: 60px;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    color: black;
   margin-bottom:0;
        
}

.cart__add {
}

.cart__view {
    background: green !important;
    color: white !important;
}

.top-cart-total {
    
    padding-right: 20px;
    max-width: 200px;
    
    display: inline-block;
}
.forg-h2{
    display: block;
    color: gray;
}
.forg-top-content {
   display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    height: 53px;
    padding: 10px;
    box-sizing: border-box;
    background: #f2f2f2;
    position: relative;
    border-bottom: 1px solid #e6e6e6;
}
.partial-cart__total {
        float: right;
    margin-right: 5px;
    line-height: 40px;
    font-size: 14px;
    font-weight: 700;
}
.top-cart-checkout {
    float: right;
    position: relative;
}

    .top-cart-checkout .submit-loader {
        position: absolute;
        left: 45%;
        top: 4px;
    }

.link-button {
    width: 115px;
    height: 32px;
    display: inline-block;
}


.cart-cont {
    box-shadow: 0 0 7px #B7B7B7;
}

.cart-row {
    display: block;
    position: relative;
    height: 60px;
    overflow: hidden;
    border-bottom: 1px solid #E8E8E8;
}
.cart-img-td {
    width: 60px;
    float: left;
}
.cart-img-td img {
    float: left;
        width: 60px;
    height: 60px;
}
.cart-summary {
        float: right;
    line-height: 60px;
}
    .cart-summary {
        font-size:13px;
            padding: 0 20px;
    }
.cart-total-td {
    width: 100px;
    display: block;
    float: right;
    line-height: 60px;
}

.item-total {
}

.cart-item-info {
    height: 100%;
}

.cart-update__actions,.top-cart-remove {
    display: none;
    width: 100%;
}
.forg-menu td {
     overflow: hidden;
    padding-left: 10px;
    vertical-align: middle;
    display: table-cell;
   
        height: 50px;
}
.cart-title-td {
    overflow: hidden;
    padding-left: 20px;
    vertical-align: middle;
    display: table-cell;
    height: 100%;
}

.cart-price-td {
}

.cart-update-info {
    display: table;
    height: 100%;
    vertical-align: middle;
}

.cart-title-text {
    height: auto;
}

.cart-row:hover .cart-update__actions,.item-row:hover .top-cart-remove {
    display: inherit;
}

.cart-quantity-td {
}


.item-dec {
}

.cart-value-btn {
}

.item-inc {
}

.cart-row__bottom {
    padding: 20px;
}

.cart-remove-td {
}

.cart-sum-td {
    text-align: right;
    margin-bottom: 20px;
}

.pbasket-total {
}

.cart-clear {
}

.newitem-button {
}

.cart-options {
}

.newitem-button {
}

.newitem-button {
}

.checkout-auth {
}

.forg-menu
{
    list-style-type:none;
        width: 100%;
}
.forg-tnl {
    width: 100%;
    height: 50px;
    position: absolute;
    overflow: hidden;
    top: -50px;
    right: -130px;
}

.forg-tnl:after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
       background: #f2f2f2;
    
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    top: 45px;
    left: 70px;
    box-shadow: -1px -1px 10px -2px rgba(0, 0, 0, 0.5);
}
.right-h-section
{
    position:relative;
}
.design-pics
{
    width:auto;
    float:right;
}
.foreign-cont
{
    background: #FFF;
    width: 400px;
    line-height: 17px;
    font-size: 13px;
    z-index:13;
    margin: 50px 0;
    box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.3);
    position: absolute;
    display: inline-block;
    -moz-transition: all 0.5s ease; 
    -webkit-transition: all 0.5s ease;  
    -ms-transition: all 1s ease;  
    -o-transition: all 1s ease;  
    transition: all 0.5s ease;  
    opacity:0;
    margin-top:50px;
    left: -180px;
}
.forg-img {
    width: 80px;
    height: 60px;
        display: block;
}
.forg-menu td {
    border-bottom: 1px solid #e6e6e6;
}
.forg-menu tr:hover {
        background: #f2f2f2;
}
.forg-menu tr td:first-child {
    padding:5px;
   
}
/*.forg-menu tr:first-child td:first-child {
    padding-top:5px;
}
.forg-menu tr:last-child td:first-child {
    padding-bottom:5px;
}*/
.forg-menu a
{
color: #444;
padding: 5px 10px;
display: block;
}
.forg-menu a:hover
{
color: #FFF;
background: #2F4061;
}
.forg-menu li:first-child
{
    padding-top:10px;
}
.forg-menu li:last-child
{
    padding-bottom:10px;
}
.forg-btn:hover .foreign-cont
{
   
    
}
.ss
{transition:margin-top 0.5s ease;}




    /* =========================== table area ======================== */
   
.disabled-state {
    opacity: 0.5;
}

/* =========================== static sections area ======================== */


/* =========================== content area ======================== */

    /* =========================== catalog area ======================== */


  /*4e89bf  fc601f*/
/* =========================== footer area ======================== */

/* =========================== navigation ======================== */


/*===================== Form Styles ============================== */

.feededitor {
    position:relative;
}

.order-wrap
{
    margin: auto 100px;
    position:relative;
}
.request-ok-text
{
font-size: 17px;
color: #DDD;
font-family: verdana,arial;
margin-left: 50px;
float: left;
margin-top: -30px;
}
.request-ok
{
    padding: 20px;
    width: 400px;
    background: #357241;
    border-radius: 2px;
}
.request-ok-icon
{
    color: #D6D6D6;
    font-size: 28px;
    float: left;
}
.valid-mess .field-validation-error
{
    position: absolute;
    width: 250px;
    background: #6B2637;
    opacity: 0.8;
    color: #FFF;
    padding: 5px;
    right: -200px;
    margin-top: -10px;
}
.valid-mess .field-validation-error[data-valmsg-for="Phone"]
{
    left:50px;
}
.sub-button
{
   border: 0;
font-size: 14px;
letter-spacing: 1px;
background: #742229;
font-family: Tahoma,Arial;
color: #E2E1E1;
border-radius: 2px;
left: 270px;
position: relative;
cursor: pointer;
height: 50px;
width: 150px;
}
.sub-button:hover
{
    background:#99253C;
}
.sub-button:focus
{
    padding:0;
}
.sub-button:disabled{
    background:#99253C;
}


.prod-view .xn-i-details {
     margin-top: 50px;
    padding:0;
    font-size:12px;
    max-width:500px;
}
.prod-view .xn-i-details tr {
    height:20px;
}
.prod-view     .xn-i-details table {
     
    }
.prod-view .xn-i-details table th {
    font-family:Roboto,Arial;
    font-weight:600;


}
.prod-view .xn-i-details table td {
       word-break: break-word;
    padding-left: 20px;
}


@media (min-width: 480px),(min-width:300px) {
   
}
@media (min-width: 768px) {
  
}
@media (min-width: 992px) {

}

@media (min-width: 768px){
.cont{
    width: 750px;
}
}
@media (min-width: 992px){
.cont {
    width: 970px;
}
}
@media (min-width: 1200px){
.cont{
    width: 1170px;
}
}

