@model x_nova_template.Models.LiveUser

@{
    ViewBag.Title = "LiveChat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    MainPopupOpen();
    $('.ajax-service-item').closest('li').removeClass("selected");
    $('.main-link').removeClass("selected");
    $('.leftmenu .ajax-service-item[href="@Request.Url.AbsolutePath"]').closest('li').addClass("selected");
    $('.main-link[href="@Request.Url.AbsolutePath"]').addClass("selected");
</script>



<div class="ajax-page-item clear-fix" >
<h2>Live chat @ViewBag.IsLocalhost</h2>


  





</div>







  