@model IEnumerable<x_nova_template.Models.Gallery>

<ul class="folio2 portfolio" >
    @foreach (var item in Model) { 
        <li> <img class="preview folio-img" src="@Url.Action("GetPhotoGalleryImage", "ImageData",new {id=item.ID,width=200,height=200,isGallery = true}) " title="@item.GalleryTitle"  id="@item.ID"  alt="@item.GalleryTitle" height="150" width="150" /><span><i class="icon-zoom-in"></i></span></li>
    }

</ul>