@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutGallery.cshtml";
}


@Scripts.Render("~/bundles/map")
       
    
      <div class="page-item clear-fix" >
       <h2>Index</h2>
          <p>tobuy</p>

          <div id="paper" class="paper_ru"></div>


           </div>