<section class="advantages">
    <div class="cont">
    <div class="adv-item">
        <div class="adv-icon"><i class="flaticon-cogwheel"></i></div>
        <div class="adv-title">Сборка</div>
        <div class="adv-body">Сборка изделия проводится в кротчайшие сроки и без задержек</div>

    </div>
    <div class="adv-item">
        <div class="adv-icon"><i class="flaticon-people"></i></div>
        <div class="adv-title">Личный подход</div>
        <div class="adv-body">Предельное внимание к деталям и запросам клиента</div>

    </div>
    <div class="adv-item">
        <div class="adv-icon"><i class="flaticon-tag"></i></div>
        <div class="adv-title">Скидки</div>
        <div class="adv-body">Система скидок позволит вам сэкономить и приобрести товар по выгодной цене</div>

    </div>
    <div class="adv-item">
        <div class="adv-icon"><i class="flaticon-business"></i></div>
        <div class="adv-title">Оплата</div>
        <div class="adv-body">Оплата проводится по факту доставки или безналичным расчетом</div>

    </div>
        </div>
</section>


<section class="section_1 section_default">
    <div class="cont"><h1>О компании</h1>
    <p> Клиентоориентированность и качество создаваемой нами продукции мебели, вот тот основной фактор к которому мы стремимся двигаться и исходим только из потребности и желания клиента.</p>
    <p>
    <p>
        Наша компания работает в сфере производства мебели более 3 трех лет.
        Мы трепетно относимся к уровню представлемых нами услуг и товаров, следя за качеством и уровнем сервиса.
        Компания x_nova_template надежный партнер с сфере текстильное промышленности, наш опыт и внимание к деталям делает нас гарантом качества, что в свою очередь выходит в современный и стильный конечный продукт.

        Стремление не только грамотно подойти к каждому заказу, но и стараться повышать уровень услуг, следить за основными тенденциями и развиваться в ногу с передовыми технологиями.
    </p>
        </div>
</section>

<section class="new-prods">
    <div class="cont">
        @{Html.RenderAction("LastnewProds", "Product");}
        </div>
</section>
