
<div class="item-features-wrap item-features-pad  side-block">
    <ul>
        <li>
            <div class="item-features-icon"><i class="fas fa-check"></i></div>
            <div class="item-features-line"><span style="text-decoration: underline;">ГАРАНТИЯ ВОЗВРАТА ДЕНЕГ</span>. Покрывает 30 дней после покупки.</div>
        </li>
        <li>
            <div class="item-features-icon"><i class="fas fa-check"></i></div>
            <div class="item-features-line">Доставка сегодня или на следующий день</div>
        </li>
        <li>
            <div class="item-features-icon"><i class="fas fa-check"></i></div>
            <div class="item-features-line">Номер телефона для уточнения заказа - 777-35-42 </div>
        </li>
    </ul>


</div>