<footer>

    <div class="f-wrap">
        <div class="container">

          
            <div class="f2">
                <div class="f-menu clear-fix">

                </div>
                <div class="f-desc">
                    @* <div id="section_5"></div>*@

                </div>
            </div>
            <div class="f1">

                <span class="f1-phone">+7 (499) 144-34-77</span>
                <span class="copyright">© 2018 "Eligo-mebel". Все права защищены.</span>
                <span class="webstudio"><a target="_blank" href="http://x-nova.ru">Создание сайта — X-NOVA</a></span>
                @if (!Request.IsLocal)
                {

      <!-- Yandex.Metrika informer -->

                    <!-- /Yandex.Metrika counter -->
                }
                else
                {
                    @:
}
                <br /><br />
            </div>
            <div class="f3">

                @*<div id="section_6"></div>*@

            </div>

        </div>
    </div>
</footer>