
<div class="navbar-header">

    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#top-navbar-collapse">
        <i class="fa fa-bars"></i>
    </button>

    <div class="hidden-lg hidden-md  navbar-brand">
        <button id="showLeft">lefbar</button>
        <a href="/">LOGO</a>
    </div>
   
    <nav class="n-bmenu visible-sm visible-xs cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
        <h3>Каталог услуг</h3>
        <div class="cbp-spmenu-body">
            <ul class="">
                <li><a data-content-type="feedForm">Обратная связь</a></li>
                <li class="divider"></li>
                <li><a href="/tehnologiya-proizvodstva-igrushek">Технология производства высококачественных игрушек</a></li>

            </ul>
            <br />
            <div class="visible-xs cbp-btn-group">
                <ul class="">
                    <li><a data-content-type="feedForm">Обратная связь</a></li>
                    <li class="divider"></li>
                    <li><a href="/tehnologiya-proizvodstva-igrushek">Технология производства высококачественных игрушек</a></li>

                </ul>
            </div>
        </div>
    </nav>


</div>