<div id="popup-livechat">
       <div class="ch-head-1_2">
            <div class="ch-head">
        <div class="ch-icon"><i style="font-size:16px;" class="fa fa-comments"></i><span class="ch-log-text">Онлайн-консультант</span></div>
        
        <div class="ch-close">
            <i style="font-size:21px;" class="fa fa-angle-double-down"></i>
                </div>
        </div>
        </div>
    </div>