
<div id="logo">
    <a href="/"><img src="@Url.Content("~/Content/images/logo.jpg")" width="100" height="60"/></a>
    @*<span class="logo-text">Equip<span class="logo-text-b">Mould</span></span>
    <span class="logo-desc">Качественные пресс-формы</span>*@

</div>

@*@Request.Browser.Platform @Request.Browser.MobileDeviceModel @Request.Browser.Browser*@