
<div id="logo">
    <div id="logo-icon"><a href="/"><img src="@Url.Content("~/Content/em/eligo-logo/logo2/eligo-part2.png")" /></a></div>
    
    <div id="logo-text"><span class="lt-1">E</span><span class="lt-e">ligo</span><span class="lt-2">mebel</span></div>
    @*<span class="logo-text">Equip<span class="logo-text-b">Mould</span></span>
    <span class="logo-desc">Качественные пресс-формы</span>*@

</div>

@*@Request.Browser.Platform @Request.Browser.MobileDeviceModel @Request.Browser.Browser*@