@model x_nova_template.ViewModel.TemplatesViewModel

<script>

</script>
<div class="md-auth" id="modal-7">
    <span class="md-loader"><img src="@Url.Content("~/Content/ajax-loaders/5.GIF")" /></span>
    <div class="md-content">
       
    </div>
</div>


<div class="md-main">
    <div class="md-modal xn-modal" id="modal-6">
        <div class="md-container">
            <div class="md-root">
                <div class="md-arrs-wrapper">
                    <div class="md-mainarrs xn-i-mleft"><i src="~/Content/svg/icon1.svg" class="fa fa-angle-left"></i></div>
                    <div class="md-mainarrs xn-i-mright"><i src="~/Content/svg/icon2.svg" class="fa fa-angle-right"></i></div>
                </div>
            </div>
        </div>

        <div class="md-wrapper">

            <div class="md-content">

            </div>
        </div>
        <button class="xn-close-btn md-close"></button>
    </div>
</div>

<div class="md-overlay"></div>
