
<div class="cart-holder navbar-right nav ui-icon-cart">
    
    <div class="top-user">

        @Html.Partial("_LoginPartial")
        
    </div>
    <a data-content-type="feedForm" class="navbar nav navbar-left feedback">обратная связь</a>
</div>