@{
    ViewBag.Title = "Offline";
    Layout = null;
}

<div style="position:absolute;width:500px auto;border:1px solid gray;left:500px;top:100px;padding:5px;">@{Html.RenderAction("OfflineMess", "Config");}</div>
