<div class="modalh">
    <h3 class="headline">Подтверждение почты</h3>
    <div class="md-close iconicfill-x"><button class="xn-close-btn-bl"></button></div>
</div>
<div class="modalp" style="overflow:hidden">
    Ваш аккаунт под именем - @ViewBag.UserName, успешно прошел подтверждение <a class="xn-button" data-content-type="loginForm">Авторизуйтесь</a>
</div>

