<div class="modalh">
    <h3 class="headline">задать новый пароль</h3>
    <div class="md-close iconicfill-x"><button class="xn-close-btn-bl"></button></div>
</div>
<div class="modalp" style="overflow:hidden">
    Пароль успешно задан, <a class="xn-button" data-content-type="loginForm">Авторизуйтесь</a>
</div>

