
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>


<div>
   @ViewBag.result <br />
   @ViewBag.length<br />
    @ViewBag.outer<br />
</div>

