
<style>
    .k-file {
    }

    .k-upload-files {
        overflow: hidden;
    }

    .galimg-sort {
        position: relative;
    }
</style>
<script>
    var result = "";
    var filesCount = 0;
    function uSuccess(data) {
        filesCount += 1;
        result = data.response;
    }
    function uploadSuccess(e) {
        var data = JSON.parse(result);
        var list = data.slice(-filesCount);

        for (var i = 0; i < list.length; i++) {
            if (!$('#afterUpload img[data-id="' + list[i] + '"]').length) {
                var view = $('<div>' +
                    '<img width="35" height="35" data-id="' + list[i] + '"  src="/ImageData/GetPhotoGalleryImage?id=' + list[i] + '&width=50&height=50&isGallery=false" />' +
                    '<input type="text" data-id="' + list[i] + '" name="ImageTitle" />'
                    + '</div>');
                $('#afterUpload').append(view);
            }
        }
        $('input[name="ImageTitle"]').off();
        $('input[name="ImageTitle"]').on('change', function () {
            var idx = $(this).data('id')
            $.ajax({
                url: '/PhotoGallery/UpdateImage', type: 'post', data: { id: idx, title: $(this).val() },
                success: function () { $('<span style="color:green">Обновлено</span>').insertAfter($('input[data-id="' + idx + '"]')); }
            });
        });
    }

</script>
<div style="width:100%">
    @(Html.Kendo().Upload()

        .Name("files")
        .Async(a => a
            .Save("UploadImages", "PhotoGallery", new { galId = ViewBag.GalId })
            .Remove("Remove", "UploadFiles")
            .AutoUpload(true)
        )
        .HtmlAttributes(new { @class = "clear-fix" })
        .Events(x => x.Complete("uploadSuccess").Success("uSuccess"))


    )

    <div id="afterUpload">

    </div>
</div><br />

