
<style>
    .k-file
    {
       
    }
    .k-upload-files
    {
        overflow:hidden;
    }
</style>
<script>
    function uploadSuccess(e) {
        
        if (!$(e.target).find('.isMain').length) {
            var check = $("<input type='radio' class='isMain' name='isMain' /><span>в превью</span>");
            check.insertAfter($('.k-filename'));
        }
    }
    $('#go').on('click', function () {
        var check = $("<input type='checkbox' name='isMain' />");
        check.insertAfter($('#ss'));
    })
</script>
<div style="width:100%">
    @(Html.Kendo().Upload()

        .Name("files")
        .Async(a => a
            .Save("UploadImages", "PhotoGallery", new { galId = ViewBag.GalId })
            .Remove("Remove", "UploadFiles")
            .AutoUpload(true)
        )
        .HtmlAttributes(new { @class="clear-fix"})
        .Events(x => x.Complete("uploadSuccess"))


    )
            
</div><br />

